/* Колір основного тексту  #212121 */ 
/* Колір фону #F5F5F5 */

/* Колір вторинного тексту  #757575 */

/* Вторинний колір фону #F5F4FA */
 

/* Колір акцент #2196F3 */
/* Додатковий колір #ffffff */

:root{
    --color-primary:#212121;
    --color-secondary:#757575;
    --color-akcent:#2196F3;
    --color-bgc:#ffffff; 
    --color-bgc-secondary: #F5F4FA;
    --color-additional:#AFB1B8;
    
    --color-footer-text:rgba(255, 255, 255, 0.6);
}


*
*::before,
*::after
{
    box-sizing: border-box;
}



body{
    background-color:var(--color-bgc);
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;  
} 

    /* Утиліти */
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin:0;
}

.list{
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.link {
	text-decoration: none;
	color: inherit;
}

ul{
    margin: 0;
    padding: 0;    
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

address {
	font-style: normal;
}



.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;    
 }

.section{
    padding-top: 94px;
    padding-bottom: 94px;
  
}
  

/* header */

.header{
    display:flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
   
}



.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  
}

.header-nav{
    display: flex;
    align-items: center
}


.nav-list{
    list-style:none;
    display: flex;
    margin: 0;
    gap: 50px;
    margin-left:93px;
}

.nav-link{
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    display: block;
    align-items: center;
    list-style:none;
    color:var(--color-primary);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-link:hover,  
.nav-link:focus,
.nav-link:active{
    color: var(--color-akcent);
}

.current::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--color-akcent);
}

    

.menu-list{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
 
  
}
.menu-contact{
    text-decoration: none;
    display: flex;
    align-items: center;
    list-style: none;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--color-secondary);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon{
    margin-right: 10px;
    fill:currentColor;
}
.mail-icon:hover{
    fill:var(--color-akcent);
}

.phone-icon{
    margin-right: 10px;
    fill:currentColor;
}

 .phone-icon:hover{
    fill:var(--color-akcent);
}
.menu-contact:hover,
.menu-contact:focus
{
 color: var(--color-akcent);
}
 /* title  */

 .hero{
    background-color:#C4C4C4;    
    text-align: center;
    padding-top: 200px; 
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image:linear-gradient(rgba(47,48,58,0.4),rgba(47,48,58,0.4)),url(../images/bckimg.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.hero-title{
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    text-align: center;  
}

.main-button{
    background-color: var(--color-akcent);
    border: none;
    min-height: 50px;
    min-width:216px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 0;
    border-radius: 4px;
    color:var(--color-bgc);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height:1.875;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
   

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:focus,
.main-button:hover{
    background-color: #188CE8;
    border: none;
}

/* About company */
.features-list{
    list-style: none;
}

.section-second{
    padding-top: 94px;
    /* padding-bottom: 94px; */
}

.benefits{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.benefits-box{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--color-bgc-secondary);
    border-radius: 4px;
    margin-bottom: 30px;
    gap: 30px;
}

.benefits-item{
    margin-right: 30px;
    width: calc((100% - 90px) / 4);
}

.benefits-item:last-child{
    margin-right: 0;
}

.benefits-item::before{
    background-image: url(../images/);
}

.features-title{
    color: var(--color-primary);
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-subtitle{
    color: var(--color-secondary);
    margin: 0;
    line-height:1.71;
    letter-spacing: 0.03em;
}

.section-title{
    color: var(--color-primary);
    list-style: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.section-team{
    background-color: var(--color-bgc-secondary);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-item {
    background-color: var(--color-bgc);
    margin-right: 30px;
}

.team-item:last-child{
    margin-right: 0;
}

.team-card{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.works{
    list-style: none;
    display: flex;
    
}

.work-item{
    margin: bottom 0;
    margin-right: 30px;
}

.work-item:last-child{

    margin-right: 0;
}

.work-image{
    position: relative;
}

.work-names{
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    transform: translateY(-100%);
}

.work-text{
    color: var(--color-bgc);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
}
   
   
.employees-list{
    list-style: none;
    background-color: var(--color-bgc-secondary);
    display: flex; 
    
}

.employees-names{
    color: var(--color-primary);
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height:1.187;
    text-align: center;
    letter-spacing: 0.03em;
}

.job-title{
    color: var(--color-secondary);
    margin: 0;
    font-size: 16px;
    line-height:1.18;
    text-align: center;
    letter-spacing: 0.03em;
}


/* footer */
.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}




.footer-list{
    list-style: none;
    display:block;
    
}

.info-item{
    margin-bottom: 12px;
}
  
.adress{
    color: var(--color-bgc);
    margin-bottom: 12px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.adress:hover,
.adress:focus{
    color: var(--color-akcent);
}

.footer-contact{
    color: var(--color-footer-text);
    margin-bottom:12px;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height:1.71;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact:hover,
.footer-contact:focus{
    color: var(--color-akcent);
}

.main-logo{
    color: var(--color-akcent);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em    
}

.logo{
    color: #000000; 
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    display:inline-block
 }

.logo::first-letter{   
    text-transform: uppercase;
}


footer.footer>div a.main-logo>span{
    color: var(--color-bgc);   
}

.footer .main-logo{
    display: block;
    margin-bottom: 20px;
}


/* portfolio */
.button-list{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 50px  
}

.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
}

.button{
    background-color: var(--color-bgc-secondary);
    color: var(--color-primary);
    border: none;
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding: 6px 22px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item{
    margin-right: 8px;
   
}
.button-item:last-child{
    margin-right: 0;
}

.button:hover,
.button:focus{
    background-color: var(--color-akcent);
    color:var(--color-bgc);  
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
}

.project-item{
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 3);
}


.cards{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom:1px solid #EEEEEE;
    border-right:1px solid #EEEEEE;
    border-left:1px solid #EEEEEE;
}

.project-item:nth-child(3n){
margin-right: 0;
}

.project-link{
    text-decoration: none;
    list-style:none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb{
    position: relative;
    overflow: hidden;
}

.project-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

 .project-link:hover .project-overlay,
 .project-link:focus .project-overlay
 
 {
    transform: translateY(0);
    
}

.overlay-text{
    font-weight: 400;
    font-size: 18px;
    line-height:1.55;
    letter-spacing: 0.03em;
    color: var(--color-bgc);
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 24px;
    padding-right: 24px;
}
.project-name{
    text-decoration: none;
    color: var(--color-primary);
    font-size: 18px;
    line-height:2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-type{
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.current{
    color: var(--color-akcent);
}

/* Socials */

.socials-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    
}

.socials-item{
    width: 44px;
    height: 44px;
    
}

.socials-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-bgc);
    fill:var(--color-additional);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover{
    background-color: var(--color-akcent);
    fill:var(--color-bgc);
}
.socials-link:focus{
    background-color: var(--color-akcent);
    fill:var(--color-bgc);
}


/* Our clients */

.client-title{
font-weight: 700;
font-size: 36px;
line-height:1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
}

.client-list{
    
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.client-item{
    width: 170px;
    height: 92px;
}


.client-link{
    display: flex;
    justify-content:center;
    align-items: center;
    border: 1px solid var(--color-additional);
    fill: var(--color-additional);
    border-radius: 4px;
    width: 100%;
    height: 100%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color  250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.client-link:hover{
    border-color:var(--color-akcent);
    fill: var(--color-akcent);
}

.client-link:focus{
    border-color:1px solid var(--color-akcent);
    fill: var(--color-akcent);
}

/* Footer-socials */
.footer-container{
    display: flex;
    align-items: baseline;
    gap: 70px;
}



.footer-join{
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-bgc);
    margin-bottom: 20px;
}

.footer-socials-list{
    display: flex;
    gap: 10px;
}
.footer-item{
    width: 44px;
    height: 44px;
}


.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1); 
    fill:var(--color-bgc);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover{
    background-color:var(--color-akcent);
    fill:var(--color-bgc);
}
.footer-link:focus{
    background-color:var(--color-akcent);
    fill:var(--color-bgc);
}

/* modal */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    
}

.backdrop.is-hidden .modal{
    transform:translate(-50%, -50%) scale(0.9);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 528px;
    width: 100%;
    max-height: 581px;
    height: 100%;
    background-color: var(--color-bgc);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close{
    position: absolute;
    display: flex;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--color-bgc);
    cursor: pointer;
}

.modal-close{
    fill: currentColor;
}









