/* Колір основного тексту  #212121 */ 
/* Колір фону #F5F5F5 */

/* Колір вторинного тексту  #757575 */

/* Вторинний колір фону #F5F4FA */
 

/* Колір акцент #2196F3 */
/* Додатковий колір #ffffff */

:root{
    --color-primary:#212121;
    --color-secondary:#757575;
    --color-akcent:#2196F3;
    --color-bgc:#ffffff; 
    --color-bgc-secondary: #F5F4FA;
    
    --color-footer-text:rgba(255, 255, 255, 0.6);
}

body{
    background-color:var(--color-bgc);
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;

}
/* header */


.nav-list{

    list-style: none;
    
}

.nav-link{
    text-decoration: none;
    list-style: none;
    color:var(--color-primary);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-link:hover, 
.nav-link:focus, 
.nav-link:active{
    color: var(--color-akcent);
}
.menu-list{
    list-style: none;
}
.menu-contact{
    text-decoration: none;
    list-style: none;
    color: var(--color-secondary);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.menu-contact:hover,
.menu-contact:focus
{
 color: var(--color-akcent);
}
/* title */
.hero{
    background-color:#2F303A;

}

.hero-title{

    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  

}
.main-button{
    background-color: var(--color-akcent);
    color:var(--color-text-action);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height:1.875;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    
}
.main-button:focus,
.main-button:hover{
    background-color: #188CE8;
    color: var(--color-bgc);
}

/* About company */
.features-list{
    list-style: none;
}

.features-title{
    color: var(--color-primary);
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
   
}

.benefits{
    list-style: none;
}

.features-subtitle{
    color: var(--color-secondary);
    line-height:1.71;
    letter-spacing: 0.03em;
}
.team {
    background-color:var(--color-bgc-secondary);
}
.section-title{
    color: var(--color-primary);
    list-style: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.works{
    list-style: none;
}

.employees-list{
    list-style: none;
}

.team-item{
    background-color: var(--color-bgc);
}

.employees-names{
    color: var(--color-primary);
    font-weight: 500;
    font-size: 16px;
    line-height:1.187;
    text-align: center;
    letter-spacing: 0.03em;
}


.job-title{
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height:1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
/* footer */
.footer{
    background-color: #2F303A;
}
.footer-list{
    list-style: none;
    
}

.adress{
    color: var(--color-bgc);
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.adress:hover,
.adress:focus{
    color: var(--color-akcent);
}

.footer-contact{
    color: var(--color-footer-text);
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height:1.71;
  
}

.footer-contact:hover,
.footer-contact:focus{
    color: var(--color-akcent);
}

.main-logo{
    color: var(--color-akcent);
    text-decoration: none;
    font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo{
    color: #000000;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    letter-spacing: 0.03em;
    color: #000000;
    display:inline-block
 }

.logo::first-letter{   
    text-transform: uppercase;
}
    
footer.footer>a.main-logo>span{
    color: var(--color-bgc);   
 }

/* portfolio */
.button-list{
    text-decoration: none;
    list-style: none;
}

.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
}

.button{
    background-color: var(--color-bgc-secondary);
    color: var(--color-primary);
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.03em;
}

.button:hover,
.button:focus{
    background-color: var(--color-akcent);
    color:var(--color-bgc);  
}


.project-list{
    list-style: none;
}


.project-link{
    text-decoration: none;
    list-style:none
}
.project-name{
    text-decoration: none;
    color: var(--color-primary);
    font-size: 18px;
    line-height:2;
    letter-spacing: 0.06em;
}

.project-type{
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.current{
    color: var(--color-akcent);
}