.footer-form {
    @media screen and (min-width:$desktop) {
        display: flex;
    }
}

.subscribe-text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-bgc;
    
    margin-bottom: 20px;

    @media screen and(min-width:$desktop) {
        text-align: start;
    }
}
.socials-subscribe{
    text-align: center;
    // @media screen and (min-width:$desktop) {
    //     text-align: center;
    // }
    // // text-align: center;
}
.footer-subscribe {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    // width: 358px;
    margin-right: 12px;
    padding-left: 16px;
    background-color: transparent;
    color: $color-bgc;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    @media screen and(min-width:$tablet) {
        width:450px;
    }

    @media screen and(min-width:$desktop) {
        width: 358px;
    }

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}
.icon-send {
    fill: $color-bgc;
}