.header {
    
    // display: flex;
    // align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;

    @media screen and ( min-width:$tablet)
    {
        padding: 0;
    }

    &__container {
        position: relative;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        // gap: 40px;
    }

    &__nav {
        display: flex;
        align-items: center;
    }
    }

.menu-button{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 22px;
    padding-right: 22px;
    display: inline-flex;
    margin:0;
    padding: 0;
    border: none;
    background-color: $color-bgc;
}

.menu-button .icon-close {
    display: none;
}