.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $color-bgc;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}

.mob-item {
  margin-bottom: 32px;
}

.mob-menu-link {
  color: $color-primary;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.172;
  list-style: none;
  text-decoration: none;

  &--current{
    color: $color-akcent;

  }

  &:hover {
    color: $color-akcent;
  }

  &:focus {
    color: $color-akcent;
  }
}

.mob-menu-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: $color-akcent;
  text-decoration: none;
}

.mob-menu-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: $color-additional;
  text-decoration: none;
}

.socials-mob-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.mob-menu-socials {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: $color-akcent;
  text-decoration: none;
}
.soc-mob-item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;

  &:last-child {
    border: none;
  }
}
