.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

 .section-second {
     padding-top: 94px;
 }

 .section-title {
     color: $color-primary;
     list-style: none;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.16;
     text-align: center;
     letter-spacing: 0.03em;
     margin-bottom: 50px;

 }

 .section-team {
     background-color: $color-bgc-secondary;
     padding-top: 94px;
     padding-bottom: 94px;
 }