.benefits {
  list-style: none;

  @media screen and(min-width:$tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }


  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
   
    height: 120px;
    background-color: $color-bgc-secondary;
    border-radius: 4px;
    margin-bottom: 30px;

    &::before {
      background-image: url(../images/);
    }
  }

  &__item {
     @media screen and(min-width:$tablet){
         width: calc((100% - 30px) / 2);
     }

     @media screen and(min-width:$desktop){
        width: calc((100% - 90px) / 4);
     }
  }


}

.benefits__item:not(:last-child) {
    margin-bottom: 30px;
    @media screen and(min-width:$tablet){
    margin-bottom: 0;
  }
}


