.main-button {
    background-color: $color-akcent;
    border: none;
    min-height: 50px;
    min-width: 216px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 0;
    border-radius: 4px;
    color: $color-bgc;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        background-color: #188CE8;
        border: none;
    }
}

.subscribe-button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 28px;
    gap: 10px;
    height: 50px;
    width: 200px;
    background-color: $color-akcent;
    color: $color-bgc;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-submit-button {
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;

    background-color: $color-akcent;
    color: $color-bgc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.06em;
    border: none;

    cursor: pointer;
}

.burger-button{
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    @media screen and (min-width:$tablet) {
        display: none;
    }
}

.button-close-menu{
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover{
        fill: $color-akcent;
    }

    &:focus{
        fill: $color-akcent;
    }


}

.icon-close-menu{
    padding: 11px;
    fill: $color-primary;
    background-color: transparent;
    border: none;
    @media screen and(min-width:$tablet) {
        display: none;
    }
}