.employees__list {
    list-style: none;
    background-color: $color-bgc-secondary;
    display: flex;
}

.employees__names {
    color: $color-primary;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
}

.job__title {
    color: $color-secondary;
    margin: 0;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}