.features__title {

      @media screen and (max-width:$mobile) {
        text-align: center;
    }
    color: $color-primary;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

  
}

.features__subtitle {
    color:$color-secondary;
    margin: 0;
    line-height: 1.71;
    letter-spacing: 0.03em;
}