.works {
    list-style: none;
    display: flex;

    
 }

.work-item {
    margin: bottom 0;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.work-image {
    position: relative;
}

.work-names {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    transform: translateY(-100%);
}

.work-text {
    color: $color-bgc;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
}