

$color-primary: #212121;
$color-secondary: #757575;
$color-akcent: #2196F3;
$color-bgc: #FFFFFF;
$color-bgc-secondary: #F5F4FA;
$color-additional: #AFB1B8;
$color-footer-text: rgba(255, 255, 255, 0.6);